.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #24292e; /* Cor de texto do GitHub */
}

.profile {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.profilePic,
.profilePic * {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  position: relative;
}

.profilePic {
  overflow: hidden;
}

.bio {
  font-size: 16px;
}

.title {
  color: #24292e; /* Cor de texto do GitHub */
}

.repos {
  width: 100%;
  border-top: 1px solid #e1e4e8; /* Bordas cinzas do GitHub */
}

.contributions {
  width: 100%;
  border-top: 1px solid #e1e4e8; /* Bordas cinzas do GitHub */
}

.link {
  color: #0366d6; /* Cor dos links do GitHub */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.contact {
  width: 100%;
  border-top: 1px solid #e1e4e8; /* Bordas cinzas do GitHub */
}
