#PinnedRepos {
  .name {
    font-weight: 600;
    color: #0969da;
    text-decoration: none;
    font-size: 14px;
  }

  .description {
    margin-top: 8px;
    margin-bottom: 0;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    color: #656d76;
    font-size: 12px;
    padding: 0;
    list-style: none;

    li {
      width: 100%;
    }

    & > li > div {
      border: 1px solid #d0d7de;
      border-radius: 6px;
      padding: 16px;
    }

    .public {
      border-color: #d0d7de;
      color: #656d76;
      padding: 0.12em 0.5em;
      border: 1px solid #d0d7de;
      border-radius: 2em;
      margin-left: 8px;
    }

    @media (min-width: 768px) {
      li {
        width: 40.99999998%;

        & > div {
          overflow: hidden;
          max-height: 129px;
          min-height: 111px;
        }

        padding-right: 8px !important;
        padding-left: 8px !important;
        margin-bottom: 16px !important;
      }
    }
  }

  .stars-link {
    color: #656d76;
    text-decoration: none;
    display: flex;
    align-items: center;
    svg {
      margin-right: 2px;
    }
  }

  .tech-info {
    display: flex;
    align-items: center;
  }

  .lang {
    margin-right: 16px;
    display: flex;
    .mark {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      margin-right: 2px;
      background-color: #3178c6;

      &:empty {
        background-color: transparent;
      }
      &[data-content='TypeScript'] {
        background-color: #3178c6;
      }
      &[data-content='JavaScript'] {
        background-color: #f1e05a;
      }
      &[data-content='Python'] {
        background-color: #f1e05a;
      }
    }
  }
}
