.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.linkTitle{
  width: 100%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 12.5rem;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: auto auto;
  }
}
